header{
    display: flex;
     height: 10%;
}

nav{
    flex-basis: 100%;
    display: grid;
    grid-template-areas: 
    "nav1 nav2 nav3";
}
#ANav1{
grid-area: "nav1";
}
#ANav2{
    grid-area: "nav2";  
}
#ANav3{
    grid-area: "nav3"; 
}
a{
    background: #404040;
    mix-blend-mode: screen;
    font-size: 75px;
    text-align: center;
    color: #FFFFFF;
    flex-basis: 100%;
    border: 5px solid #737373;
    text-decoration: none;
}
a:hover {
    background-color: #262626;
  }
body{
    background-color: #262626;
    color: #FFFFFF;
    font-family: 'Lustria';
}

main{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin: 5%;
    margin-top: 2%;
}
section{
    font-size: 30px;
    text-align: center;
    width: 60%;
    border-radius: 5%;
    background-color: #404040;
}
h2{
    font-size: 50px;
}
h4{
    font-size: 35px;
}
img{
    width: 30%;
    background-color: #737373;
    border-radius: 5%;
}