header{
    display: flex;
     height: 10%;
}

nav{
    flex-basis: 100%;
    display: grid;
    grid-template-areas: 
    "nav1 nav2 nav3";
}
#ANav1{
grid-area: "nav1";
}
#ANav2{
    grid-area: "nav2";  
}
#ANav3{
    grid-area: "nav3"; 
}
a{
    background: #404040;
    mix-blend-mode: screen;
    font-size: 75px;
    text-align: center;
    color: #FFFFFF;
    flex-basis: 100%;
    border: 5px solid #737373;
    text-decoration: none;
}
a:hover {
    background-color: #262626;
  }
body{
    background-color: #262626;
    color: #FFFFFF;
    font-family: 'Lustria';
}
main{

    font-size: 2rem;
    text-align: center;
    margin: 30%;
    margin-top: 5%;
    border-radius: 5%;
    background-color: #404040;
}
h2{
    font-size: 3rem;
    margin: 10px;
}
h4{
    font-size: 2rem;
    margin: 10px;
}
p{
    margin: 10px;
}
h1{
    margin: 10px;
}
