main{
    
    display: flex;
    flex-direction: column;
}
section{
    font-size: 25px;
    flex-basis:  100%;
    background-color: #404040;
}

article{
    display: flex;
    flex-direction: row;
    padding: 1%;
}
#art1img1{
    width: 20%;
}
#art2img1{
    width: 30%;
}
#art3img1{
    width: 25%;
}
#art3img2{
   width: 15%;
   background-color: #FFFFFF;
}
#art4img1{
    width: 35%;
    background-color: #5F5F5F;
    border-radius: 3%;
 }
p{
    margin: 10px;
}
h1{
    margin: 10px;
}
h2{
    margin: 10px;
}
h4{
    margin: 10px;
}
header{
    display: flex;
     height: 10%;
}
#art1sec1{
    border-radius: 3%;
    
}
#art4sec1{
    border-radius: 3%;
    
}
nav{
    flex-basis: 100%;
    display: grid;
    grid-template-areas: 
    "nav1 nav2 nav3";
}
#ANav1{
grid-area: "nav1";
}
#ANav2{
    grid-area: "nav2";  
}
#ANav3{
    grid-area: "nav3"; 
}
a{
    
    background: #404040;
    mix-blend-mode: screen;
    font-size: 75px;
    text-align: center;
    color: #FFFFFF;
    flex-basis: 100%;
    border: 5px solid #737373;
    text-decoration: none;
}
a:hover {
    background-color: #262626;
  }
body{
    background-color: #262626;
    color: #FFFFFF;
    font-family: 'Lustria';
}